<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=  cl_image_tag (cocktail.photo.attached? ? cocktail.photo.key : 'https://source.unsplash.com/400x200/?cocktails'), height: 300, width: 400, crop: :fill %>')">
  <%= cocktail.name %>
</div>