<% if @cocktails.first %>
<%= render "cocktails/carousel", :cocktails => @cocktails%>
<% end %>
<%= link_to 'Add New Cocktail', new_cocktail_path, class: 'btn btn-flat' %>
<% # cocktail cards grid%>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="container-cocktail">
      <%= link_to cocktail_path(cocktail) do %>
        <% render "cocktails/cocktail_card", :cocktail => cocktail%>
      <% end %>
    </div>
  <% end %>
</div>
