.container-carousel{
  width:900px;
  margin:auto;
 
}

.carousel-text {
  font-weight: bold;
  text-shadow: 4px 4px 4px black;
  text-align: center;
  font-size: 64px;
}
.container-carousel-outer{
  border-bottom: 2px solid $dark_red;
  padding: 16px;
}



