$bg_color: #140D2A;
$dark_red: #eea2c8;
.navbar-lewagon {
  justify-content: space-between;
  background: $bg_color;
  border-bottom: 2px solid $dark_red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
